body{
    margin: 0%;
}
.begin{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: black;
 }
 .begin a img{
    width: 80px;
    height: 30px; 
    padding-left: 100px;    
    padding-top: 20px;
    margin-bottom: 20px;
    align-items: stretch;   
 }
 .begin a img:hover{
    opacity: .8;

 }